.App {
  display: block;
}

.App-header {
  height: 50px;
  display: block;
  color: white;
  background-color: rgb(59,175,87);
}

.logo {
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  display: block;
  font-size: 20px;
}

.btn-green {
  background-color: rgb(59,175,87);
  color: white;
  border-radius: 0;
  border: 1px white solid;
  margin-top: 5px;
  margin-right: 20px;
}

a.btn-green {
  color: white;
}

.full-width {
  width: 100%;
}

.phone-icon {
  border-radius: 5px;
  background-color: rgb(59,175,87);
  width: 100px;
  height: 100px;
  color: white;
}

.loan-type {
  width: 200px;
}

.pt-cur {
  padding-top: 35px;
  font-weight: 600;
}

.pt-cur .active {
  color: rgb(59,175,87);
  padding-bottom:5px;
  border-bottom: 1px solid rgb(59,175,87);
}

a.sign-up {
  color: rgb(59,175,87);
}

.estimate-top {
  padding-top: 100px;
}

.estimate-header {
  color: #999;
  margin: 0;
}

.estimate-month {
  font-size: 20px;
}

.estimate-body {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

.credit-logo {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.color-grey {
  color: #999;
}

.border-none {
  border: none;
}

.arrow-down {
  font-size: 10px;
}

.btn-green-outline {
  border: 2px solid rgb(59,175,87);
  color: rgb(59,175,87);
  background-color: transparent;
}

.btn-green-full {
  color: white;
  background-color: rgb(59,175,87);
  border: 2px solid rgb(59,175,87);
}